html{
	background-color: mistyrose;
}
header{
	border-radius: 40px;
	background: linear-gradient(to right,aqua,deepskyblue);
	text-align: center;
}
img{
	width: 240px;
}
h2{
	text-align: center;
}
article{
	line-height: 1.9;
	word-break: keep-al;
	border-radius: 30px;
}
section{
	border-radius: 40px;
	background: linear-gradient(to right,khaki,mediumaquamarine);
}

.design1{
	background: linear-gradient(to right,lightblue,deepskyblue);
	top: 0px;
	left: 100px;
	width: 300px;
	height: 100px;
	border-radius: 40px;
	display: flex;
      position: relative;
	align-items: center;
	justify-content: center;

}

.design2{
	background: linear-gradient(to right,lightgreen,mediumaquamarine);
	top: 50px;
	left: 100px;
	width: 300px;
	height: 100px;
	border-radius: 40px;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
}

.design3{
	background: linear-gradient(to right,pink,hotpink);
	top: 100px;
	left: 100px;
	width: 300px;
	height: 100px;
	border-radius: 40px;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
}

/*@media (max-width: 768px) {
  .q1{
    width: 80%; 
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .q1{
    width: 90%; 
   }
}
  
